<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/attack.css">
  </head>
  <body>
    <h1> <%= @player1.name %> attacked <%= @player2.name %> </h1>
    <h2> <%= @player2.name %> has now <%= @player2.hp %> HP. </h2> 
    <br>
    <form action="/battle_arena">
      <input type="submit" value="Go back to the battle arena" class="gobackbutton">
    </form>
  </body>
</html>
