<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css">
  </head>

  <body>
    <h1>
      EPIC BATTLE OF ALL TIMES!!!111
    </h1>
    <h2>
      Sign in to play
    </h2>
    <form action="/player_names" method="post">
      <input type="text" class="playername" name="player1_name" placeholder="Player 1 name">
      <br><br>
      <input type="text" class="playername" name="player2_name" placeholder="Player 2 name">
      <br><br>
      <input type="submit" value="Submit" class="submit-player">
    <form>
  </body>
</html>
