<%= @player1 %> vs <%= @player2 %>
<br />
<div class="player1-hp" style="float: left;">
  100
</div>
<div class="player2-hp" style="float: left; margin-left: 40px">
  100
</div>
<form action="/attack">
  <input type="submit" value="Attack!">
</form>
<img src ="https://vignette.wikia.nocookie.net/mkwikia/images/7/74/Smoke_Secret_MK2_Fight.png/revision/latest?cb=20170126040442" style='margin-left: auto; margin-right: auto; display: block;'>
