<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/player_name.css">
  </head>
  <div class="header">
    <%= @player1 %>
    vs
    <%= @player2 %>
  </div>
  <div class="grid">
    <div class="grid_describe">
      Player name
    </div>
    <div class="normal">
      <%= @player1 %>
    </div>
    <div class="normal">
      <%= @player2 %>
    </div>
    <div class="grid_describe">
      HP
    </div>
    <div class="normal player1-hp">
      100
    </div>
    <div class="normal player2-hp">
      100
    </div>
    <div class="grid_describe">
      Actions
    </div>
    <div class="normal"></div>
    <div class="normal">
      <form action="/attack">
        <input type="submit" value="Attack!">
      </form>
    </div>
  </div>
</html>
