.header {
  text-align: center;
  font-size: 3.5em;
  font-family: sans-serif;
}

.turn {
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
  background-color: #e9000073;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.grid {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  display: grid;
  grid-template-columns: 10% 45% 45%;
  grid-gap: 5px;
  margin-top: 3em;
}

.grid_describe {
  font-family: sans-serif;
  background: lightgrey;
}

.normal {
  font-family: sans-serif;
  background: #dec0b6;
}

.offensive {
  background-color: #de1616 !important;
  margin-top: 1em;
}

h1 {
  font-size: 0.9em;
  text-align: center;
}

h2 {
  font-size: 0.8em;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 2.5em;
  font-family: sans-serif;
  color: red;
}
